In [2]:
import numpy as np
import pandas as pd

In [7]:
# a) Read data 
data = pd.read_csv("C:\\Users\\patil\\Downloads\\CC GENERAL.csv")
data.head(10)

,CUST_ID,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE
0,C10001,40.900749,0.818182,95.40,0.00,95.40,0.000000,0.166667,0.000000,0.083333,0.000000,0,2,1000.0,201.802084,139.509787,0.000000,12
1,C10002,3202.467416,0.909091,0.00,0.00,0.00,6442.945483,0.000000,0.000000,0.000000,0.250000,4,0,7000.0,4103.032597,1072.340217,0.222222,12
2,C10003,2495.148862,1.000000,773.17,773.17,0.00,0.000000,1.000000,1.000000,0.000000,0.000000,0,12,7500.0,622.066742,627.284787,0.000000,12
3,C10004,1666.670542,0.636364,1499.00,1499.00,0.00,205.788017,0.083333,0.083333,0.000000,0.083333,1,1,7500.0,0.000000,NaN,0.000000,12
4,C10005,817.714335,1.000000,16.00,16.00,0.00,0.000000,0.083333,0.083333,0.000000,0.000000,0,1,1200.0,678.334763,244.791237,0.000000,12
5,C10006,1809.828751,1.000000,1333.28,0.00,1333.28,0.000000,0.666667,0.000000,0.583333,0.000000,0,8,1800.0,1400.057770,2407.246035,0.000000,12
6,C10007,627.260806,1.000000,7091.01,6402.63,688.38,0.000000,1.000000,1.000000,1.000000,0.000000,0,64,13500.0,6354.314328,198.065894,1.000000,12
7,C10008,1823.652743,1.000000,436.20,0.00,436.20,0.000000,1.000000,0.000000,1.000000,0.000000,0,12,2300.0,679.065082,532.033990,0.000000,12
8,C10009,1014.926473,1.000000,861.49,661.49,200.00,0.000000,0.333333,0.083333,0.250000,0.000000,0,5,7000.0,688.278568,311.963409,0.000000,12
9,C10010,152.225975,0.545455,1281.60,1281.60,0.00,0.000000,0.166667,0.166667,0.000000,0.000000,0,3,11000.0,1164.770591,100.302262,0.000000,12

In [8]:
# b) Find Shape of Data
print(f"Shape of the Data: {data.shape}")

Shape of the Data: (8950, 18)

In [9]:
# c) Find Missing Values
print("Missing Values per Column:")
print(data.isnull().sum())

Missing Values per Column:
CUST_ID                               0
BALANCE                               0
BALANCE_FREQUENCY                     0
PURCHASES                             0
ONEOFF_PURCHASES                      0
INSTALLMENTS_PURCHASES                0
CASH_ADVANCE                          0
PURCHASES_FREQUENCY                   0
ONEOFF_PURCHASES_FREQUENCY            0
PURCHASES_INSTALLMENTS_FREQUENCY      0
CASH_ADVANCE_FREQUENCY                0
CASH_ADVANCE_TRX                      0
PURCHASES_TRX                         0
CREDIT_LIMIT                          1
PAYMENTS                              0
MINIMUM_PAYMENTS                    313
PRC_FULL_PAYMENT                      0
TENURE                                0
dtype: int64

In [10]:
# d) Find Data Type of Each Column
print("Data Types of Each Column:")
print(data.dtypes)

Data Types of Each Column:
CUST_ID                              object
BALANCE                             float64
BALANCE_FREQUENCY                   float64
PURCHASES                           float64
ONEOFF_PURCHASES                    float64
INSTALLMENTS_PURCHASES              float64
CASH_ADVANCE                        float64
PURCHASES_FREQUENCY                 float64
ONEOFF_PURCHASES_FREQUENCY          float64
PURCHASES_INSTALLMENTS_FREQUENCY    float64
CASH_ADVANCE_FREQUENCY              float64
CASH_ADVANCE_TRX                      int64
PURCHASES_TRX                         int64
CREDIT_LIMIT                        float64
PAYMENTS                            float64
MINIMUM_PAYMENTS                    float64
PRC_FULL_PAYMENT                    float64
TENURE                                int64
dtype: object

In [11]:
# e) Finding out Zeros
zero_counts = (data == 0).sum()  # Count of zeros in each column
print("Zero Counts per Column:")
print(zero_counts)

Zero Counts per Column:
CUST_ID                                0
BALANCE                               80
BALANCE_FREQUENCY                     80
PURCHASES                           2044
ONEOFF_PURCHASES                    4302
INSTALLMENTS_PURCHASES              3916
CASH_ADVANCE                        4628
PURCHASES_FREQUENCY                 2043
ONEOFF_PURCHASES_FREQUENCY          4302
PURCHASES_INSTALLMENTS_FREQUENCY    3915
CASH_ADVANCE_FREQUENCY              4628
CASH_ADVANCE_TRX                    4628
PURCHASES_TRX                       2044
CREDIT_LIMIT                           0
PAYMENTS                             240
MINIMUM_PAYMENTS                       0
PRC_FULL_PAYMENT                    5903
TENURE                                 0
dtype: int64

In [12]:
#f) Indexing and selecting data, sort data,
#Indexing, selecting data
data.iloc[:,-3:-1]

      MINIMUM_PAYMENTS  PRC_FULL_PAYMENT
0           139.509787          0.000000
1          1072.340217          0.222222
2           627.284787          0.000000
3                  NaN          0.000000
4           244.791237          0.000000
...                ...               ...
8945         48.886365          0.500000
8946               NaN          0.000000
8947         82.418369          0.250000
8948         55.755628          0.250000
8949         88.288956          0.000000

[8950 rows x 2 columns]

In [15]:
data_sel = data[['CASH_ADVANCE_TRX', 'PURCHASES_TRX']]
data_sel.tail()

      CASH_ADVANCE_TRX  PURCHASES_TRX
8945                 0              6
8946                 0              6
8947                 0              5
8948                 2              0
8949                 2             23

In [16]:
#sort data
sorted_data = data.sort_values(by='BALANCE', ascending=True)
print("Data Sorted by Balance:")
print(sorted_data.head(20))

Data Sorted by Balance:
     CUST_ID  BALANCE  BALANCE_FREQUENCY  PURCHASES  ONEOFF_PURCHASES  \
860   C10891      0.0                0.0     199.88              0.00
4358  C14480      0.0                0.0     232.20              0.00
6972  C17162      0.0                0.0     393.29             45.65
8050  C18268      0.0                0.0     271.56              0.00
3070  C13159      0.0                0.0      63.30              0.00
8083  C18302      0.0                0.0     123.10              0.00
4941  C15080      0.0                0.0       0.00              0.00
2307  C12378      0.0                0.0     176.03            176.03
8092  C18311      0.0                0.0     152.28              0.00
3187  C13279      0.0                0.0      61.21             61.21
7933  C18148      0.0                0.0     136.80              0.00
1131  C11171      0.0                0.0      12.65              0.00
4937  C15076      0.0                0.0     265.76              0.00
7357  C17557      0.0                0.0     443.28              0.00
3808  C13916      0.0                0.0     178.80              0.00
99    C10104      0.0                0.0       0.00              0.00
7673  C17879      0.0                0.0      30.98              0.00
654   C10680      0.0                0.0       0.00              0.00
6071  C16242      0.0                0.0     181.00            181.00
7052  C17244      0.0                0.0     278.00              0.00

      INSTALLMENTS_PURCHASES  CASH_ADVANCE  PURCHASES_FREQUENCY  \
860                   199.88      0.000000             0.750000
4358                  232.20      0.000000             1.000000
6972                  347.64      0.000000             1.000000
8050                  271.56      0.000000             1.000000
3070                   63.30      0.000000             0.250000
8083                  123.10      0.000000             0.750000
4941                    0.00    253.887233             0.000000
2307                    0.00      0.000000             0.125000
8092                  152.28      0.000000             1.000000
3187                    0.00      0.000000             0.083333
7933                  136.80      0.000000             1.000000
1131                   12.65      0.000000             0.083333
4937                  265.76      0.000000             0.916667
7357                  443.28      0.000000             1.000000
3808                  178.80      0.000000             1.000000
99                      0.00     89.849004             0.000000
7673                   30.98      0.000000             0.166667
654                     0.00    310.888779             0.000000
6071                    0.00      0.000000             0.083333
7052                  278.00      0.000000             0.666667

      ONEOFF_PURCHASES_FREQUENCY  PURCHASES_INSTALLMENTS_FREQUENCY  \
860                     0.000000                          0.750000
4358                    0.000000                          1.000000
6972                    0.083333                          1.000000
8050                    0.000000                          1.000000
3070                    0.000000                          0.250000
8083                    0.000000                          0.750000
4941                    0.000000                          0.000000
2307                    0.125000                          0.000000
8092                    0.000000                          1.000000
3187                    0.083333                          0.000000
7933                    0.000000                          1.000000
1131                    0.000000                          0.083333
4937                    0.000000                          0.916667
7357                    0.000000                          1.000000
3808                    0.000000                          1.000000
99                      0.000000                          0.000000
7673                    0.000000                          0.166667
654                     0.000000                          0.000000
6071                    0.083333                          0.000000
7052                    0.000000                          0.666667

      CASH_ADVANCE_FREQUENCY  CASH_ADVANCE_TRX  PURCHASES_TRX  CREDIT_LIMIT  \
860                 0.000000                 0             14        4000.0
4358                0.000000                 0             12        1500.0
6972                0.000000                 0             13        1000.0
8050                0.000000                 0             12        2000.0
3070                0.000000                 0              3        2700.0
8083                0.000000                 0              9        4000.0
4941                0.111111                 1              0         500.0
2307                0.000000                 0              1        7000.0
8092                0.000000                 0             12        4000.0
3187                0.000000                 0              1        2600.0
7933                0.000000                 0             12        2700.0
1131                0.000000                 0              1        5000.0
4937                0.000000                 0             11        1500.0
7357                0.000000                 0             12        3000.0
3808                0.000000                 0             12        1900.0
99                  0.142857                 1              0        3000.0
7673                0.000000                 0              2        4000.0
654                 0.083333                 1              0        9000.0
6071                0.000000                 0              1        2500.0
7052                0.000000                 0              8        1000.0

         PAYMENTS  MINIMUM_PAYMENTS  PRC_FULL_PAYMENT  TENURE
860      0.000000               NaN          0.000000      12
4358   415.603589               NaN          0.000000      12
6972     0.000000               NaN          0.000000      12
8050   282.699746               NaN          0.000000      12
3070     0.000000               NaN          0.000000      12
8083   101.639354               NaN          0.000000      12
4941  2437.932505               NaN          0.000000       9
2307     0.000000               NaN          0.000000       8
8092     0.000000               NaN          0.000000      12
3187     0.000000               NaN          0.000000      12
7933   127.996550               NaN          0.000000      12
1131     0.000000               NaN          0.000000      12
4937   288.141157         14.094123          0.000000      12
7357     0.000000               NaN          0.000000      12
3808     0.000000               NaN          0.000000      12
99     138.021428               NaN          0.000000       7
7673    63.582004         14.458210          0.090909      12
654      0.000000               NaN          0.000000      12
6071   165.763083               NaN          0.000000      12
7052   429.556980         21.401781          0.142857      12

In [17]:
#g) Describe attributes of data, checking data types of each column,
print("Descriptive Statistics:")
print(data.describe())

Descriptive Statistics:
            BALANCE  BALANCE_FREQUENCY     PURCHASES  ONEOFF_PURCHASES  \
count   8950.000000        8950.000000   8950.000000       8950.000000
mean    1564.474828           0.877271   1003.204834        592.437371
std     2081.531879           0.236904   2136.634782       1659.887917
min        0.000000           0.000000      0.000000          0.000000
25%      128.281915           0.888889     39.635000          0.000000
50%      873.385231           1.000000    361.280000         38.000000
75%     2054.140036           1.000000   1110.130000        577.405000
max    19043.138560           1.000000  49039.570000      40761.250000

       INSTALLMENTS_PURCHASES  CASH_ADVANCE  PURCHASES_FREQUENCY  \
count             8950.000000   8950.000000          8950.000000
mean               411.067645    978.871112             0.490351
std                904.338115   2097.163877             0.401371
min                  0.000000      0.000000             0.000000
25%                  0.000000      0.000000             0.083333
50%                 89.000000      0.000000             0.500000
75%                468.637500   1113.821139             0.916667
max              22500.000000  47137.211760             1.000000

       ONEOFF_PURCHASES_FREQUENCY  PURCHASES_INSTALLMENTS_FREQUENCY  \
count                 8950.000000                       8950.000000
mean                     0.202458                          0.364437
std                      0.298336                          0.397448
min                      0.000000                          0.000000
25%                      0.000000                          0.000000
50%                      0.083333                          0.166667
75%                      0.300000                          0.750000
max                      1.000000                          1.000000

       CASH_ADVANCE_FREQUENCY  CASH_ADVANCE_TRX  PURCHASES_TRX  CREDIT_LIMIT  \
count             8950.000000       8950.000000    8950.000000   8949.000000
mean                 0.135144          3.248827      14.709832   4494.449450
std                  0.200121          6.824647      24.857649   3638.815725
min                  0.000000          0.000000       0.000000     50.000000
25%                  0.000000          0.000000       1.000000   1600.000000
50%                  0.000000          0.000000       7.000000   3000.000000
75%                  0.222222          4.000000      17.000000   6500.000000
max                  1.500000        123.000000     358.000000  30000.000000

           PAYMENTS  MINIMUM_PAYMENTS  PRC_FULL_PAYMENT       TENURE
count   8950.000000       8637.000000       8950.000000  8950.000000
mean    1733.143852        864.206542          0.153715    11.517318
std     2895.063757       2372.446607          0.292499     1.338331
min        0.000000          0.019163          0.000000     6.000000
25%      383.276166        169.123707          0.000000    12.000000
50%      856.901546        312.343947          0.000000    12.000000
75%     1901.134317        825.485459          0.142857    12.000000
max    50721.483360      76406.207520          1.000000    12.000000

In [18]:
data.columns

Index(['CUST_ID', 'BALANCE', 'BALANCE_FREQUENCY', 'PURCHASES',
       'ONEOFF_PURCHASES', 'INSTALLMENTS_PURCHASES', 'CASH_ADVANCE',
       'PURCHASES_FREQUENCY', 'ONEOFF_PURCHASES_FREQUENCY',
       'PURCHASES_INSTALLMENTS_FREQUENCY', 'CASH_ADVANCE_FREQUENCY',
       'CASH_ADVANCE_TRX', 'PURCHASES_TRX', 'CREDIT_LIMIT', 'PAYMENTS',
       'MINIMUM_PAYMENTS', 'PRC_FULL_PAYMENT', 'TENURE'],
      dtype='object')

In [19]:
# h) Counting Unique Values and Formatting
print("Unique Value Counts:")
print(data.nunique())

Unique Value Counts:
CUST_ID                             8950
BALANCE                             8871
BALANCE_FREQUENCY                     43
PURCHASES                           6203
ONEOFF_PURCHASES                    4014
INSTALLMENTS_PURCHASES              4452
CASH_ADVANCE                        4323
PURCHASES_FREQUENCY                   47
ONEOFF_PURCHASES_FREQUENCY            47
PURCHASES_INSTALLMENTS_FREQUENCY      47
CASH_ADVANCE_FREQUENCY                54
CASH_ADVANCE_TRX                      65
PURCHASES_TRX                        173
CREDIT_LIMIT                         205
PAYMENTS                            8711
MINIMUM_PAYMENTS                    8636
PRC_FULL_PAYMENT                      47
TENURE                                 7
dtype: int64

In [20]:
# Converting Variable Data Types
for col in data.select_dtypes(include=['float64']).columns:
    data[col] = data[col].astype('float32')  # Converting all float64 columns to float32

for col in data.select_dtypes(include=['int64']).columns:
    data[col] = data[col].astype('int32')

print("Updated Data Types After Converting Float64 to Float32 and int64 to int32:")
print(data.dtypes)

Updated Data Types After Converting Float64 to Float32 and int64 to int32:
CUST_ID                              object
BALANCE                             float32
BALANCE_FREQUENCY                   float32
PURCHASES                           float32
ONEOFF_PURCHASES                    float32
INSTALLMENTS_PURCHASES              float32
CASH_ADVANCE                        float32
PURCHASES_FREQUENCY                 float32
ONEOFF_PURCHASES_FREQUENCY          float32
PURCHASES_INSTALLMENTS_FREQUENCY    float32
CASH_ADVANCE_FREQUENCY              float32
CASH_ADVANCE_TRX                      int32
PURCHASES_TRX                         int32
CREDIT_LIMIT                        float32
PAYMENTS                            float32
MINIMUM_PAYMENTS                    float32
PRC_FULL_PAYMENT                    float32
TENURE                                int32
dtype: object

In [21]:
data['TENURE'].value_counts()

TENURE
12    7584
11     365
10     236
6      204
8      196
7      190
9      175
Name: count, dtype: int64

In [22]:
data['TENURE'] = data['TENURE'].fillna(data['TENURE'].mode()[0])

In [23]:
data.isnull().sum()

CUST_ID                               0
BALANCE                               0
BALANCE_FREQUENCY                     0
PURCHASES                             0
ONEOFF_PURCHASES                      0
INSTALLMENTS_PURCHASES                0
CASH_ADVANCE                          0
PURCHASES_FREQUENCY                   0
ONEOFF_PURCHASES_FREQUENCY            0
PURCHASES_INSTALLMENTS_FREQUENCY      0
CASH_ADVANCE_FREQUENCY                0
CASH_ADVANCE_TRX                      0
PURCHASES_TRX                         0
CREDIT_LIMIT                          1
PAYMENTS                              0
MINIMUM_PAYMENTS                    313
PRC_FULL_PAYMENT                      0
TENURE                                0
dtype: int64

In [24]:
data.head(20)

,CUST_ID,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE
0,C10001,40.900749,0.818182,95.400002,0.000000,95.400002,0.000000,0.166667,0.000000,0.083333,0.000000,0,2,1000.0,201.802078,139.509781,0.000000,12
1,C10002,3202.467529,0.909091,0.000000,0.000000,0.000000,6442.945312,0.000000,0.000000,0.000000,0.250000,4,0,7000.0,4103.032715,1072.340210,0.222222,12
2,C10003,2495.148926,1.000000,773.169983,773.169983,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0,12,7500.0,622.066772,627.284790,0.000000,12
3,C10004,1666.670532,0.636364,1499.000000,1499.000000,0.000000,205.788010,0.083333,0.083333,0.000000,0.083333,1,1,7500.0,0.000000,NaN,0.000000,12
4,C10005,817.714355,1.000000,16.000000,16.000000,0.000000,0.000000,0.083333,0.083333,0.000000,0.000000,0,1,1200.0,678.334778,244.791245,0.000000,12
5,C10006,1809.828735,1.000000,1333.280029,0.000000,1333.280029,0.000000,0.666667,0.000000,0.583333,0.000000,0,8,1800.0,1400.057739,2407.246094,0.000000,12
6,C10007,627.260803,1.000000,7091.009766,6402.629883,688.380005,0.000000,1.000000,1.000000,1.000000,0.000000,0,64,13500.0,6354.314453,198.065887,1.000000,12
7,C10008,1823.652710,1.000000,436.200012,0.000000,436.200012,0.000000,1.000000,0.000000,1.000000,0.000000,0,12,2300.0,679.065063,532.033997,0.000000,12
8,C10009,1014.926453,1.000000,861.489990,661.489990,200.000000,0.000000,0.333333,0.083333,0.250000,0.000000,0,5,7000.0,688.278564,311.963409,0.000000,12
9,C10010,152.225967,0.545455,1281.599976,1281.599976,0.000000,0.000000,0.166667,0.166667,0.000000,0.000000,0,3,11000.0,1164.770630,100.302261,0.000000,12
10,C10011,1293.125000,1.000000,920.119995,0.000000,920.119995,0.000000,1.000000,0.000000,1.000000,0.000000,0,12,1200.0,1083.301025,2172.697754,0.000000,12
11,C10012,630.794739,0.818182,1492.180054,1492.180054,0.000000,0.000000,0.250000,0.250000,0.000000,0.000000,0,6,2000.0,705.618652,155.549072,0.000000,12
12,C10013,1516.928589,1.000000,3217.989990,2500.229980,717.760010,0.000000,1.000000,0.250000,0.916667,0.000000,0,26,3000.0,608.263672,490.207001,0.250000,12
13,C10014,921.693359,1.000000,2137.929932,419.959991,1717.969971,0.000000,0.750000,0.166667,0.750000,0.000000,0,26,7500.0,1655.891479,251.137985,0.083333,12
14,C10015,2772.772705,1.000000,0.000000,0.000000,0.000000,346.811401,0.000000,0.000000,0.000000,0.083333,1,0,3000.0,805.647949,989.962891,0.000000,12
15,C10016,6886.213379,1.000000,1611.699951,0.000000,1611.699951,2301.491211,0.500000,0.000000,0.500000,0.166667,4,11,8000.0,1993.439331,2109.906494,0.000000,12
16,C10017,2072.074463,0.875000,0.000000,0.000000,0.000000,2784.274658,0.000000,0.000000,0.000000,0.250000,3,0,3000.0,391.974548,376.579620,0.000000,8
17,C10018,41.089489,0.454545,519.000000,0.000000,519.000000,0.000000,0.416667,0.000000,0.333333,0.000000,0,8,2500.0,254.590668,73.203224,0.250000,12
18,C10019,1989.072266,1.000000,504.350006,166.000000,338.350006,0.000000,0.666667,0.083333,0.583333,0.000000,0,9,13000.0,1720.837402,744.613403,0.000000,12
19,C10020,3577.970947,1.000000,398.640015,0.000000,398.640015,0.000000,1.000000,0.000000,1.000000,0.000000,0,12,4000.0,1053.980469,12465.549805,0.000000,12